.box {
  padding: 1rem 0;
}

.loading {
  width: 100%;
  height: 2px;
  background-color: var(--loading-bg);
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  --loading-duration: 3s;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--loading-gradient);
  background-size: 200% 100%;
  animation: loading-scroll var(--loading-duration) linear infinite;
}

@keyframes loading-scroll {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
