:host {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #334155;
  background: #fff;
}

:host([dark]) {
  color: #e0e0e0;
  background: #1f2937;
}


