.heading-node {
  font-weight: 500;
  line-height: 1.25;
}

hr + .heading-node {
  margin-top: 0;
}

h1 {
  margin-block: 0 0.75em;
  font-size: 2.25rem;
  line-height: calc(10/9 * 1);
  font-weight: 800;
}

h2 {
  margin-block: 1.75em 0.75em;
  font-size: 1.5rem;
  line-height: calc(4/3 * 1);
  font-weight: 700;
}

h3 {
  margin-block: 1.5em 0.625em;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: calc(5/3 * 1);
}

h4 {
  margin-block: 1.25em 0.5em;
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  margin-block: 1em 0.375em;
  font-size: 1rem;
}

h6 {
  margin-block: 0.875em 0.25em;
  font-size: 1rem;
}


/*todo hr + .heading-node {
  @apply mt-0;
} */